<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="credentialForm">
        <h1>Sign up</h1>
        <form  action="/users/signup" method="POST" class="formSection signupForm">
            <input name="email" type="text" placeholder="Enter Email">
            <input name="password" type="password" placeholder="Enter Password">
            <input name="confirmPassword" type="password" placeholder="Confirm Password">
            <button>Sign up</button>
        </form>

        <p>Already have an account? <a href="/signin">Sign in</a></p>
    </div>
</body>
</html>